 .mealContainer {
    display:grid;
    grid-template-columns: repeat(2, 600px);
    justify-self: center;
    gap:25px;
}

 .mealDisplay {
   border: thick double #2c798d;
   background-color: #eae4e4;
   height: 550px;
}

 .foodPic {
    width:100%;
    height:50%;
    border-bottom: thick double #69c0e3;
}


 .info {
    border: 2mm ridge rgba(143, 146, 92, 0.3);
    padding:5px;
    height: 49%;
}

 .oppositeEnd {
    display: flex;
    justify-content: space-between;
    margin-top:5px;
    margin-bottom:5px;
    font-size:larger;
}

 .oppositeEnd2 {
    display: flex;
    justify-content: space-between;
}

 .healthBar {
    display:grid;
    grid-template-columns:repeat(7,auto);
    height: 30px;
}

@font-face {
   font-family: Schoolbook;
   src: url(C059-Roman.otf);
 }

 @font-face {
   font-family: Apple;
   src: url(apple-chancery-webfont.woff);
 }