#bar {
    justify-self: left;
    width: 150px;
    height: 100vh;
    border-right: thick double #000000;
    background-color: cyan;
}

button {
    background-color:rgb(119, 201, 119);
    border-radius:6px;
    margin:6px;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    color:blue;
    background-color:darkgreen;
}

body {
    display:flex;
}

.view {
    margin-left: 10px;
}

#hide {
    position:absolute;
    left:145px;
    top:50vh;
    padding: 5px;
}
